@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {

  max-width: 100vw;

}
html {
  scroll-behavior: smooth;
}

/* GENERIC STYLING */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.no_cursor {
  cursor: not-allowed;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.text_purple {
  color: #6415ff;
}
.section_title {
  font-size: 48px;
}

/* GENERIC STYLING */

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 32px;
}
.nav_logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_logo-img {
  height: 40px;
}
.company_name {
  margin-left: 12px;
  font-size: 24px;
  font-weight: 700;
}

.nav_link {
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  padding-bottom: 4px;
}
.extra_padding {
  margin-right: 36px;
}

.nav_link:last-child {
  background-color: #6415ff;
  font-weight: 700;
  padding: 12px 32px;
  color: white;
  border-radius: 9999px;
  margin: 0;
}
.nav_link:last-child:hover {
  filter: brightness(80%);
}

/* NAVIGATION */

/* HEADER SECTION */

#header {
  padding: 96px 0;
}

.header_description {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header_description-para {
  margin: 32px 0;
  font-size: 18px;
}
.header_description-input {
  display: flex;
  align-items: center;
  position: relative;
}
.header_description-email {
  width: 100%;
  padding: 20px 192px 20px 32px;
  border: 2px solid lightgrey;
  border-radius: 32px;
  border-color: rgb(226, 232, 240);
}
.header_description-btn {
  background-color: #6415ff;
  color: white;
  border: none;
  padding: 16px 48px;
  border-radius: 48px;
  position: absolute;
  right: 6px;
  transition: all 150ms ease-in-out;
}
.header_description-btn:hover {
  filter: brightness(60%);
  transform: scale(0.9);
  cursor: not-allowed;
  background-color: grey;
}

.header_img-wrapper {
  width: 60%;
}
.header_img {
  width: 100%;
}
.header {
  display: flex;
}

.header_description-customers {
  margin: 80px 0;
}
.header_description-customer-para {
  color: rgb(145, 145, 145);
}
.header_description-customer-img {
  width: 100%;
  margin-top: 16px;
  padding-right: 128px;
  opacity: 80%;
}

/* HEADER SECTION */

/* FEATURES SECTION */
#features {
  padding: 48px 0;
}
.features_title {
  font-size: 16px;
  margin-bottom: 16px;
}
.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features_title-para {
  max-width: 576px;
  margin-top: 16px;
}

/* FEATURES SECTION */

/* SERVICES SECTION */

#features {
  position: relative;
}

.features_services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}
.service {
  display: flex;
  width: calc(100% / 3);
  padding-top: 72px;
}
.service_logo {
  padding: 0 16px 0 0;
}
.service_logo-img {
  padding: 24px;
  border: 2px solid lightgrey;
  border-radius: 240px;
  transform: scale(0.8);
}

.service_para {
  margin-top: 16px;
  line-height: 2.5;
  max-width: 85%;
}
.blob_img {
  position: absolute;
  bottom: 25%;
  right: 0;
  transform: translateX(60%);
  opacity: 0.4;
  overflow: hidden;
}

/* SERVICES SECTION */

/* QUALITY SECTION */

#quality {
  padding: 48px 0;
}

.quality_description {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 32px;
}

.quality_description-para {
  margin: 32px 0;
  font-size: 18px;
}

.quality_description-btn {
  max-width: 50%;
  background-color: #6415ff;
  color: white;
  border: none;
  text-align: center;
  padding: 16px 36px;
  border-radius: 48px;
  transition: all 150ms ease-in-out;
}
.quality_description-btn:hover {
  filter: brightness(60%);
  transform: scale(0.95);
  cursor: not-allowed;
  background-color: grey;
}

.quality_img-wrapper {
  width: 50%;
}
.quality_img {
  width: 100%;
}
.quality {
  position: relative;
  display: flex;
}

.quality_description-customers {
  margin: 80px 0;
}
.quality_description-customer-para {
  color: rgb(145, 145, 145);
}
.quality_description-customer-img {
  width: 100%;
  margin-top: 16px;
  padding-right: 128px;
  opacity: 80%;
}
.grid_img {
  color: #6415ff;
  position: absolute;
  transform: scale(0.05);
  top: 0;
}

/* QUALITY SECTION */

/* START SECTION */

#start {
  padding: 48px 0;
}

.start_description {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 32px;
  padding-left: 64px;
}

.start {
  display: flex;
}
.start_description-step {
  display: flex;
  padding-top: 32px;
}
.start_description-step_title {
  font-size: 20px;
  margin-bottom: 12px;
}
.start_description-step-para {
  font-size: 14px;
}
.start_description-step-number {
  font-size: 54px;
  padding-right: 24px;
  color: lightgrey;
}

/* START SECTION */

/* VALUES SECTION */

#values_section {
  padding: 48px 0;
}
.values {
  display: flex;
}
.values_description {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.values_description-subtitle {
  padding-bottom: 24px;
}
.values_description-title {
  padding-bottom: 24px;
}
.values_description-para {
  font-size: 18px;
  padding-bottom: 24px;
}
.values_description-aspect-wrapper {
  padding-right: 12px;
}
.values_description-aspects {
  display: flex;
}
.values_description-aspect {
  display: flex;
}

.values_logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  border: 2px solid black;
  border-radius: 99px;
  margin: 0 12px 0 0;
}
.values_logo-img {
  font-size: 24px;
}
.affordable-img {
  background-color: rgb(154, 230, 180);
}

.professional-img {
  background-color: rgb(254, 178, 178);
}
.values_logo {
  display: flex;
  margin: 0 auto;
  width: 50%;
  padding-left: 32px;
}
.values_logo-imgg {
  width: 100%;
}

/* VALUES SECTION */

/* PRICING SECTION */

#pricing {
  padding: 48px 0;
}
.pricing_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing_description-subtitle {
  padding-bottom: 16px;
}
.pricing_description-para {
  font-size: 18px;
  max-width: 576px;
  padding-top: 16px;
  padding-bottom: 96px;
}
.pricing_plans-container {
  display: flex;
  margin: 0 auto;
}
.pricing_plan-container {
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(100% / 3);
  transition: all 400ms ease-in-out;
}
.pricing_plan-container:hover {
  transform: scale(1.01);
}
.plan_container-top {
  border-top: 16px solid rgb(129, 230, 217);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;

  padding: 36px;

  border-bottom: 2px solid lightgrey;

  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
.plan_container-middle {
  width: 100%;
  padding: 36px;
  border-bottom: 2px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
.plan_container-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  width: 100%;
  border-bottom: 2px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container_bottom-button {
  padding: 16px;
  width: 60%;
  font-size: 24px;
  border: none;
  border-radius: 280px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  transition: all 200ms ease-in-out;
}
.container_bottom-button:hover {
  transform: scale(1.01);
  box-shadow: 7px 8px 16px 2px rgba(0, 0, 0, 0.66);
}
.container_bottom-button:active {
  transform: scale(0.99);
  box-shadow: inset 7px 8px 16px 2px rgba(0, 0, 0, 0.66);
}
.pricing_plan-subtitle {
  font-size: 20px;
  margin: 6px 0;
}
.pricing_plan-title {
  font-size: 48px;
  margin: 6px 0;
}
.pricing_plan-para {
  font-size: 16px;
}
.business_plan-container {
  transform: scale(1.1);
}
.business_plan {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    115deg,
    rgb(17, 34, 213) 0%,
    rgb(129, 193, 230) 100%
  );
  border-top: none;

  color: white;
}
.business_plan-container:hover {
  transform: scale(1.12);
}
.business_plan-btn {
  background: white;
  color: rgb(17, 34, 213);
}
.enterprise_plan-btn {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.enterprise_plan {
  border-top: 16px solid rgba(245, 101, 101, 0.752);
}

/* PRICING SECTION */

/* TESTIMONIALS SECTION  */

.testimonial_container {
  display: flex;
  padding: 172px 0;
}

.testimonial_logo {
  width: 50%;
}
.testimonial_logo-img {
  width: 100%;
}
.testimonial_description {
  width: 50%;
  padding: 0 48px;
}
.testimonial_description-title {
  padding-bottom: 24px;
}
.testimonial_description-subtitle {
  padding-bottom: 24px;
}
.testimonial_description-para {
  font-size: 18px;
  color: lightgrey;
  padding-bottom: 24px;
}
.rating {
  color: gold;
  padding-bottom: 24px;
}
.testimonial_description-review-title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 18px;
}
.testimonial_description-review-para {
  padding-bottom: 40px;
}
.testimonial_description-review-info {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-height: 80px;
}
.review_info-pp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review_info {
  padding-left: 16px;
}
.review_info-name {
  font-size: 20px;
  font-weight: 700;
}
.review_info-position {
  color: lightgray;
}
.review_img {
  height: 100%;
}
.pp_img {
  height: 100%;
  border-radius: 50px;
}
.review_info-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_arrow {
  padding: 16px;

  border-radius: 999px;
  border: 1px solid lightgrey;
  background-color: rgba(170, 234, 255, 0.272);
  transition: all 100ms ease-in-out;
}
.left_arrow:hover {
  filter: brightness(80%);
}
.left_arrow:active {
  transform: translateX(-4px);
}

.right_arrow {
  padding: 16px;
  border-radius: 999px;
  border: 1px solid lightgrey;
  background-color: rgba(170, 234, 255, 0.272);
  transition: all 100ms ease-in-out;
}
.right_arrow:hover {
  filter: brightness(80%);
}
.right_arrow:active {
  transform: translateX(4px);
}
.divider{
    padding: 0 12px;
    opacity: 0.25;
    font-size: 20px;
}
.arrow_img {
  font-size: 18px;
}

/* TESTIMONIALS SECTION  */

/* FAQS SECTION  */

.section_title-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq_title{
    padding: 16px 0;
}
.faqs_description-para{
    padding-bottom: 32px;
}
.question_text{
    font-size: 18px;
}
.faq_question{
    width: 100%;
    margin: 0 auto 16px;
    padding: 20px 20px;
    border: none;
    border-radius: 12px;
    background-color: #edf2f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 150ms ease-in-out;
}
.faq_question:hover{
    filter: brightness(80%);
    transform: scale(1.01);
}
.expand_question{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: none;
    background: transparent;
}

.down_btn{
    font-size: 18px;
}



/* FAQS SECTION  */


/* SUBSCRIBE SECTION  */

.subscribe_container{
    margin-top: 96px;
    margin-bottom: 96px;
    padding: 24px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6415ff;
    border-radius: 8px;

}
.subscribe_title{
    padding: 96px 48px;
    font-size: 30px;
    color: white;
}
.get_started{
    max-width: 25%;
    font-size: 16px;
    padding: 20px 40px;
    margin-right: 24px;
    background-color: #f56565;
    border: none;
    border-radius: 32px;
    color: white;
    transition: all 150ms ease-in-out;
}
.get_started:hover{
    transform: scale(1.1);
    filter: brightness(80%);
}
.contact_us{
    font-size: 16px;
    padding: 20px 40px;
    margin-right: 32px;
    background-color: #f56565;
    border: none;
    border-radius: 32px;
    color: white;
    transition: all 150ms ease-in-out;
}
.contact_us:hover{
    transform: scale(1.1);
    filter: brightness(80%);
}
.btn_text{
    width: 100%;
    font-size: 16px;
}

/* SUBSCRIBE SECTION  */

/* FOOTER SECTION  */

footer{
    width: 100%;
    background: #6415ff;
    color: white;
    padding-bottom: 12px;
}
.footer_top{
    display: flex;
    margin: 0 auto;
    padding: 48px 24px 96px 24px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    max-width: 1200px;
    color: white;
    border-bottom: 2px solid lightgrey;
}
.footer_links-title{
    margin-bottom: 24px;
}
.footer_links{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.footer_link{
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
}
.link_container{
    padding: 12px 0;

}

a{
    position: relative;
}

.link_hover-effect::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    right: 0;
    bottom: -3px;
    transition: 400ms;


}
.link_hover-effect:hover::after{
    width: 100%;
    left: 0;
}
.link_hover-effect-black::after{
    background-color: #242424;
}
.link_hover-effect-white::after{
    background-color: white;
}

.footer_bottom{
    width: 100%;
    max-width: 1200px;
    height: 16vh;
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.footer_img-wrapper{
    height: 100%;
}
.footer_img{
    height: 100%;
}
.footer_link{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.footer_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}
.social_logo{
   margin: 6px;
    padding: 4px;
    background-color: white;
    border-radius: 48px;
    color: #242424;
}
.social_logo-img{
    text-align: center;
    height: 20px;
    width: 20px;
}

/* FOOTER SECTION  */



/* Tablets large smartphones */

@media (max-width: 768px){
    .nav_links{
        display: none;  
    }
    .section_title{
        font-size: 24px;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .header_description{
        width: 100%;
        margin-left: 24px;
    }

    .header_description-para{
        font-size: 16px;
    }
    .header_img-wrapper{
        width: 100%;
    }
    .header_img{
        padding: 0 24px;
    }
    .header_description-input{
        display: flex;
        flex-direction: column;
       
    }
    .header_description-email{
        padding-right: 0;
        
    }
    .header_description-btn{
        margin-top: 12px;
        width: 100%;
        position: relative;
    }
    .header_description-customers{
        margin-top: 24px;
        padding-left: 24px;
        font-size: 12px;
    }
    .service{
        width: 50%;
    }
    .quality_title{
        font-size: 18px;
        margin-bottom: 12px;
    }
    .quality_description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-right: 24px;
        width: 50%;
    }
    .quality_description-para{
        font-size: 16px;
    }
    .quality_description-btn{
        max-width: 100%;
        position: relative;
    }
    .start{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 12px 24px;
    }
    .start_logo{
        width: 100%;
        padding: 24px 24px;
    }
    .start_logo-img{
        width: 100%;
    }
    .start_description{
        width: 100%;
        padding: 0 24px;
    }
    .start_title{
        font-size: 24px;
    }
    .values_description-subtitle{
        font-size: 18px;
    }
    .values_description-para{
        font-size: 16px;
    }
    .values_description-aspect-wrapper{
        padding-left: 12px;
    }
    .values_description-aspect-title{
        font-size: 16px;
    }
    .values_description-aspect-para{
        font-size: 12px;
    }
    .values_logo-wrapper{
      width: 100%;
      padding: 0;
      margin: 0 auto;
      border-radius: 9999px;
    }
    .values_logo-img{
        padding: 0 8px 0 8px;
    }
    .pricing_plans-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .pricing_plan-container{
        width: 50%;
        padding: 0 0 24px 0;
    }
    .business_plan-container{
        transform: scale(1);
    }
    .business_plan-container:hover{
        transform: scale(1.01);
    }
    .testimonial_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonial_description{
        width: 100%;
    }
    .testimonial_logo{
        padding-bottom: 36px;
    }
    .testimonial_description-review-info{
        width: 80%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
    .review_info-pp{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .subscribe_container{
        display: flex;
        margin: 36px auto 36px;
    }
    .subscribe_title{
        font-size: 18px;
        padding: 24px;
    }
    .get_started{
        padding: 16px 24px;
        text-align: center;
    }
    .contact_us{
        padding: 16px 24px;
        text-align: center;
    }
    .footer_links-title{
        font-size: 14px;
    }
    .footer_link{
        font-size: 12px;
    }
    .footer_top{
        padding: 24px 36px;
    }
    .footer_bottom{
        display: flex;
        align-items: center;
        padding: 0px 36px 0 24px;
    }

}

/* Tablets large smartphones */


/* smartphones */

@media (max-width: 550px){
    .nav_links{
        display: none;  
    }
    p{
        line-height: 1.5;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section_title{
        font-size: 24px;
    }
    .header_description{
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
    }
    .header_description-para{
        font-size: 16px;
    }
    .header_img{
        padding: 0 12px;
    }
    .header_description-input{
        display: flex;
        flex-direction: column;
       
    }
    .header_description-email{
       padding: 10px 2px 10px 2px;
       text-align: center;
        
    }
    .header_description-btn{
        margin-top: 12px;
        width: 100%;
        position: relative;
    }
    .header_description-customers{
        margin-top: 24px;
        padding-left: 24px;
        font-size: 12px;
    }
    .service{
        width: 100%;
    }
    .quality{
        display: flex;
        flex-direction: column;
    }
    .quality_description{
        width: 100%;
    }
    .quality_img-wrapper{
        width: 100%;
        padding-top: 24px;
    }
    .quality_description-btn{
        max-width: 100%;
        position: relative;
    }
    .values{
        display: flex;
        flex-direction: column;
    }
    .values_description{
        width: 100%;
    }
    .values_logo{
        width: 100%;
        padding-top: 24px;
    }
    .pricing_plan-title{
        font-size: 24px;
    }
    .pricing_plan-container{
        width: 80%;
    }
    .container_bottom-button{
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    .testimonial_description-review-info{
        width: 100%;
    }
    .review_info{
        margin-right: 12px;
    }
    .arrow_img{
        padding: 6px;
    }
    .left_arrow{
        padding: 6px;
    }
    .right_arrow{
        padding: 6px;
    }
    .question_text{
        font-size: 14px;
    }
    .expand_question{
        display: flex;
        align-items: center;
    }
    .subscribe_container{
        display: flex;
        margin: 12px auto 24px;
        justify-content: space-around;

    }
    .subscribe_title{
        font-size: 16px;
        padding: 6px;
    }
    .get_started{
        width: auto;
        font-size: 12px;
        padding: 6px 12px 6px 6px;
        text-align: center;
        margin-right: 6px;
    }
    .contact_us{
        font-size: 12px;
        padding: 6px 8px;
        margin-right: 6px;
        text-align: center;
    }
    .footer_top{
        display: flex;
        flex-wrap: wrap;
    }
    .footer_links{
        width: 50%;
        margin: 12px 0;
    }
    .footer_link{
        height: 50px;
        margin-top: 12px;
    }
    .footer_logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 200px;
    }
    .footer_img-wrapper{
        height: 80%;
        padding: 0px;
    }
    .footer_img{
        width: 100%;   
    }
    .footer_social{
        margin-bottom: 16px;
    }

}

